@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;1,300&family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;1,300&family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@300&display=swap");
// Variables
$bg-color: #ffc801;
$text-font: "Open Sans", sans-serif;
$text-color: #535353;
$hedder-font: "Jost", sans-serif;

@mixin flexprop {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@mixin text-font {
  font-family: $text-font;
  color: $text-color;
  font-size: 17 px;
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}
.right {
  padding-inline: 15px;
  height: 100vh;
  max-width: 500px;
  margin: 35px auto;
  &__content {
    @include flexprop();
    height: 100%;
  }
  &__head {
    font-size: 3rem;
  }
  &__welcome {
    font-size: 30px;
    text-transform: capitalize;
    font-family: $text-font;
    color: $bg-color;
    letter-spacing: 0;
    font-weight: bolder;
    line-height: 1.2;
  }
  &__para {
    text-transform: capitalize;
    font-family: $text-font;
    font-size: 25px;
    font-weight: 400;
  }
}

.form {
  &__row {
    margin: 18px 0;
    &__ipt {
      width: 100%;
      padding: 15px;
    }
    &__lable {
      display: block;
      @include text-font();
      margin-bottom: 5px;
    }
    &__end {
      @include text-font();
    }
    &__remember {
      @include text-font();
    }
  }
  &-btn {
    width: 100%;
    background-color: $bg-color;
    color: white;
    border: none;
    padding: 20px;
    font-size: 18px;
  }
  &__checkbox{
  height: 15px;
  width: 18px;
  }
  &__right{
    float: right;
  }
}
.forget {
  text-decoration: none;
  @include text-font();
}
.left {
  background-image: url(../../asserts/right_bg.jpg);
  position: relative;
  z-index: 1;
  display: none;
  padding-inline: 20px;
  &__head {
    font-size: 3rem;
    color: white;
  }

  &__p1 {
    font-size: 3rem;
    color: $bg-color;
    font-style: $hedder-font;
    font-weight: bold;
    margin: 30px 0;
  }
  &__p2 {
    font-size: 18px;
    margin-bottom: 30px;
    color: white;
  }
}
@media (min-width: 991px) {
  .content__head {
    display: none;
  }
  section {
    display: flex;
  }
  .right {
    width: 50%;
  }
  .left {
    @include flexprop();
    width: 50%;
    justify-content: space-around;
    text-align: right;
  }
}

.btn-primary {
  background: transparent;
  color: $bg-color;
  border: 1px solid $bg-color;
  padding: 10px 22px;
  font-size: 17px;
  transition: all ease-in 0.4s;
}
.left__logos {
  i {
    padding: 13px;
    background-color: #4267b2;
    color: white;
  }
}
.btn-primary--sec {
  background-color: $bg-color;
  color: white;
}
.btn-primary--sec:hover {
  background: transparent;
  color: $bg-color;
}
.btn-primary--reg:hover {
  background-color: $bg-color;
  color: white;
}
.left__overlay {
  position: absolute;
  background-color: rgba(66, 64, 64, 0.65);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

